body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #333;
  color: white;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

section {
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .banner img {
    height: 180px;
  }
}
